<p>
  <%= f.label :from, t('redirects_from') %><br />
  <%= f.text_field :from  %>
  <%= t('redirect_from_example') %>
  <%= f.error_message_on :from %>
</p>

<p>
  <%= label :redirect, :status, t('redirect_status') %>
  <% Status::VALUES.each do |status_obj| %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= radio_button :redirect, :status, status_obj.code, :checked => (status_obj == @redirect.status) %>
    <%= status_obj.summary %>
  <% end %>
  <%= error_message_on :redirect, :status %>
</p>

<%= render :partial => "target", :locals => { :target => @target } %>
